.crypto-currency-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.currency-logo {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
@media screen and (min-width: 576px) {
  .currency-logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.currency-name {
  font-size: 14px;
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 500;
}
@media screen and (min-width: 576px) {
  .currency-name {
    font-size: 20px;
  }
}
.usd-euro-values-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-value {
  text-align: right;
  font-size: 14px;
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 500;
  width: 60px;
  margin-left: 10px;
}
@media screen and (min-width: 576px) {
  .currency-value {
    font-size: 20px;
    margin-left: 40px;
  }
}
